
@using AppRegistroAspirantes.Models;
@model SolicitanteModel
@{
    ViewBag.Title = "DatosPersonales";
    List<SelectListItem> listaGeneros = ViewBag.listaGeneros;
    List<SelectListItem> listaGradosEstudio = ViewBag.listaGradosEstudio;
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-11 col-lg-11">
            <hr>
            <p>Para el proceso de admisión deberás llenar los siguientes campos con tu información personal</p>

            @using (Html.BeginForm("Registrar", "Solicitante", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <!-- One "tab" for each step in the form: -->
                <div class="tab">
                    <h1>Datos Personales</h1>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(p => p.Nombre, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control bg-light outline-none  shadow-none", autocomplete = "off", })
                                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                            </div>

                            <div class="form-group ">
                                @Html.LabelFor(p => p.ApellidoMaterno, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.TextBoxFor(p => p.ApellidoMaterno, new { @class = "form-control bg-light outline-none  shadow-none", autocomplete = "off", })
                                @Html.ValidationMessage("ApellidoMaterno", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group ">
                                @Html.LabelFor(p => p.ApellidoPaterno, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.TextBoxFor(p => p.ApellidoPaterno, new { @class = "form-control bg-light outline-none  shadow-none", autocomplete = "off", })
                                @Html.ValidationMessage("ApellidoPaterno", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(p => p.IdGenero, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.DropDownList("IdGenero", listaGeneros, null, new { @class = "form-control input-size-small bg-light outline-none shadow-none", id = "selectPaises" })
                                @Html.ValidationMessage("IdGenero", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(p => p.Correo, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.EditorFor(p => p.Correo, new { htmlAttributes = new { @class = "form-control input-size-small bg-light outline-none shadow-none" } })
                                @Html.ValidationMessage("Correo", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-12 col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(p => p.FechaNacimiento, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.EditorFor(p => p.FechaNacimiento, new { htmlAttributes = new { @class = "form-control input-size-small bg-light outline-none shadow-none" } })
                                @Html.ValidationMessage("FechaNacimiento", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                @Html.LabelFor(p => p.CURP, new { @class = "col-form-label font-size-small font-weight-bolder" })
                                @Html.EditorFor(p => p.CURP, new { htmlAttributes = new { @class = "form-control input-size-small bg-light outline-none shadow-none" } })
                                @Html.ValidationMessage("CURP", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="mt-3">
                                <label>País</label>
                                <select id="paises" class="form-control bg-light outline-none  shadow-none" name="IdPais">
                                    <option value="">--Seleccione el país--</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-12 col-md-3">
                            @Html.LabelFor(p => p.CodigoPostal, new { @class = "col-form-label font-size-small font-weight-bolder" })
                            @Html.TextBoxFor(p => p.CodigoPostal, new { @class = "form-control bg-light outline-none  shadow-none", id = "codigoPostal" })
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="mt-3">
                                @Html.LabelFor(p => p.IdLocalidad)
                                <select id="localidades" class="form-control form-control bg-light outline-none  shadow-none" name="IdLocalidad">
                                    <option value="">--Seleccione la localidad--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(p => p.TelefonoFijo, new { @class = "col-form-label font-size-small font-weight-bolder" })

                                @Html.TextBoxFor(p => p.TelefonoFijo, new { @class = "form-control bg-light outline-none  shadow-none", autocomplete = "off" })
                                @Html.ValidationMessage("TelefonoFijo", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(p => p.TelefonoCelular, new { @class = "col-form-label font-size-small font-weight-bolder" })

                                @Html.TextBoxFor(p => p.TelefonoCelular, new { @class = "form-control bg-light outline-none  shadow-none", autocomplete = "off" })
                                @Html.ValidationMessage("TelefonoCelularr", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group ">
                                @Html.LabelFor(p => p.IdGradoEstudios, new { @class = "col-form-label font-size-small font-weight-bolder" })

                                @Html.DropDownList("IdGradoEstudios", listaGradosEstudio, null, new { @class = "form-control bg-light outline-none  shadow-none", id = "selectPaises" })
                                @Html.ValidationMessage("IdGradoEstudios", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(p => p.EscuelaProcedencia, new { @class = "col-form-label font-size-small font-weight-bolder" })

                                @Html.TextBoxFor(p => p.EscuelaProcedencia, new { @class = "form-control bg-light outline-none  shadow-none", autocomplete = "off" })
                                @Html.ValidationMessage("EscuelaProcedencia", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12">
                            @Html.LabelFor(p => p.Imagen, new { @class = "text-sm-right col-sm-3 col-form-label font-size-small font-weight-bolder" })
                            <input type="file" name="Imagen" id="Imagen" />
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(p => p.INE, new { @class = "text-sm-right col-sm-3 col-form-label font-size-small font-weight-bolder" })
                            <input type="file" name="INE" id="INE" />
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(p => p.Certificado, new { @class = "text-sm-right col-sm-3 col-form-label font-size-small font-weight-bolder" })
                            <input type="file" name="Certificado" id="Certificado" />
                        </div>


                    </div>
                </div>
                <div class="tab">
                    <h1>Elección de Carrera</h1>
                    <div class="row">
                        @foreach (var carreras in Model.carreras)
                        {

                            <div class="col-sm-3">
                                <div class="card mb-3">
                                    <img src="@Url.Action("GetImg", "Solicitante", new { id = carreras.Id})" class="card-img-top rounded-start" alt="..." height="200">
                                    <div class="card-body">
                                        <h5 class="card-title">@carreras.Nombre</h5>
                                        <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">@carreras.Descripcion</p>
                                        @*<a href="#"><small class="text-muted">Continuar Leyendo...</small></a>*@
                                        <div class="row justify-content-end mr-2 mt-2">
                                            <a href="#" class="btn btn-outline-primary btn-sm">Elegir Carrera</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                </div>

                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-danger">Regresar</button>
                        <button type="button" id="nextBtn" class="btn btn-success" onclick="nextPrev(1)">Siguiente</button>
                    </div>
                </div>

                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            }
        </div>
           
        </div>

    </div>



<script src="~/Scripts2/Formulario.js"></script>

<script src="~/Scripts2/Locacion.js"></script>
